*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: white;
    line-height: 1.6;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

p {
    color: antiquewhite;
}

.motherbox {
    height: 100vh;
    
    background-color: white;
    display: grid;
    grid-template-areas: 'panel1 panel1 panel1 panel1 panel1 panel1'
                         'panel1 panel1 panel1 panel1 panel1 panel1'
                         'panel1 panel1 panel1 panel1 panel1 panel1'
                         'panel1 panel1 panel1 panel1 panel1 panel1';
   
   
}


.panel1 {
    grid-area: panel1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    
    background-color: black;
}

.panel2 {
    grid-area: panel2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    
    background-color: black;
}

.panel3 {
    grid-area: panel3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    
    background-color: black;
}

.panel4 {
    grid-area: panel4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    background-color: black;
}

@media screen  {
    
}